<h1>
    codieal join here to meet girls</h1>
<section id="feed-post">
    <h4>
        post
    </h4>
    <form action="/posts/create" method="post" id="new-post-form">
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="post">
    </form>
</section>