<h1>user sign in</h1>

<form action="/users/create-session" method="post">

    <input type="email" placeholder="enter your email" name="email" required>
    <input type="password" placeholder="enter your password" name="password" required>
    <button type="submit">sign in</button>
</form>